main {
    padding: 5%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

main h2 {
    font-size: 150;
}

/* Main Content */

main .main-content {
    display: flex;
    flex-direction: column;
}

main .main-content h2 {
    margin-bottom: 2%;
    font-size: 2.2em;
}

main .main-content .text p {
    width: 65%;
    font-size:medium;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 6%;
}

/* Cards */

main .techs .cards-container {
    display: flex;
    align-items: center;
}


main .techs .cards-container .card {
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
    margin-right: 1.8em;
    margin-left: 1.8em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .techs .cards-container img{
    width: 80%;
}

main .techs .cards-container .card:hover{
    box-shadow: 0px 0px 8px #00e0ff;
    transition: box-shadow 0.25s ease-in-out;
}

/*Figure*/

main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main figure img {
    width: 400px;
    height: 400px;
    border-radius: 200px;

    margin-bottom: 6%;
    border: 1px #00e0ff solid;
    transition: 0.2s ease-in-out
}

main figure img:hover { 
    box-shadow: 0px 0px 40px #00e0ff;
}